body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
}

#box1:hover{
    background-color: purple;
}


#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;

    /* Animation properties */
    animation: box2move 2s infinite alternate;
}

@keyframes box2move{
    from{
        margin-left: 100%;
        width: 100%;
    }

    to{
        margin-left: 0%;
        width: 100%;
    }
}